<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div id="container">
    <div id="content">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Opis</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="*{product.getName()}"></td>
                <td th:text="*{product.getPrice()}"></td>
                <td><a th:href="@{/{name}(name=${product.getName()})}">Go to Desc</a></td>
            </tr>


        </table>


    </div>

</div>
</body>
</html>